/* Main Fonts of Page:
-------------------------------------
font-family: "Oswald", sans-serif;
font-weight: 400;
-------------------------------------
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 400italic;
-------------------------------------*/

/* Begin general body settings */
body { font-family: "PT Sans"; font-weight: 400; padding: 0px !important; margin: 0px !important; font-size: 14px; line-height: 24px; color: rgb(33, 44, 67); background-color: #1b253b; }
/* General typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; font-family: "PT Sans"; font-weight: 400; }
a { color: #5899cf; text-shadow: none; }
/* Fix link outlines after click */
a, a:focus, a:hover, a:active { outline: 0; text-decoration: none; }
a:hover { text-decoration: underline; }
/*Selected text color*/
::-moz-selection {
color: #fff;
background: #000;
}
::-webkit-selection {
color: #fff;
background: #000;
}
::-o-selection {
color: #fff;
background: #000;
}
::-ms-selection {
color: #fff;
background: #000;
}
::selection { color: #fff; background: #000; }
/*Header & Logos*/
.top_header { background-color: #212C43; width: 100%; height: 98px; }
.top_header .logo { position: absolute; top: -20px; }
.top_header .logo a { width: 315px; height: 60px; display: block; background: url(../img/logo.png) no-repeat scroll 0% 0% transparent; position: relative; top: 10px; text-decoration: none; }
.top_header .logo-text { padding-top: 60px; font-size: 15px; color: #fff; }
/*Menu*/
.top_header .menu { float: right; width: auto; }
.top_header .menu li { float: left; list-style: none; height: 70px; -o-transition: all 100ms ease-in; -webkit-transition: all 100ms ease-in; -moz-transition: all 100ms ease-in; transition: all 100ms ease-in; }
.top_header .menu li a { display: block; padding: 35px 16px; color: #fff; text-decoration: none; height: 70px; -o-transition: all 100ms ease-in; -webkit-transition: all 100ms ease-in; -moz-transition: all 100ms ease-in; transition: all 100ms ease-in; }
.top_header .menu li a:hover { background-color: #293B55; height: 91px; }
.top_header .menu li:hover { border-bottom: 3px solid #7CCBFC; height: 97px; }
/*Body Cont*/
.body_wrap { width: 100%; padding: 20px 0; background-color: #FFF; border-bottom: 1px solid #eee; }
.body_wrap .heading { display: block; padding: 5px 0; margin: 10px 0; border-bottom: 1px solid #eee; }
.body_wrap ul { margin: 20px 0; }
.body_wrap .arrow li { list-style: none; background: url(../img/benefits-arrow.png) no-repeat center left; padding: 5px 50px; margin-left: -40px; }
.pad { display: block; height: 3px; background-color: #fff; position: relative; }
.pad:after { position: absolute; content: ''; left: 50%; width: 16px; height: 16px; top: -9px; background-image: url(../img/grey-round.png); background-repeat: no-repeat; }
.blog_wrap{width: 100%; height: 126px; background: url(../img/call-to-action-bg.jpg) center top repeat-x; -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.15); -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.15); box-shadow: inset 0 2px 5px rgba(0,0,0,.15);}
.blog_wrap .pattern{width: 100%; height: 126px; background: url(../img/call-to-action-pattern.png);}
.blog_wrap .pattern .gray{background: url(../img/horizontal-lines.png) repeat-x bottom; height: 100px;}
.page-title {font-family: "Oswald", sans-serif;font-weight: 400;font-size: 50px;color: #fff;text-transform: uppercase;line-height: 46px; margin-top: 40px;}
/*footer*/
.footer_wrap { background-color: #212C43; width: 100%; padding: 10px 0 0; height: auto; }
.footer_wrap .border { border-top: 1px solid #1b253b; padding: 10px 0; }
.footer_wrap .copy{font-size: 12px; color: #8b98b2;}
.social { margin: 0; list-style: none; }
.social > li > a { display: inline-block; width: 30px; height: 30px; }
.social > li { float: left; margin-left: 10px; height: 30px; }
.pinterest-icon { background: url(../img/social-icons.png) 0 0 no-repeat; }
.pinterest-icon:hover, .appic-team .pinterest-icon:hover { background: url(../img/social-icons.png) 0 -175px no-repeat; }
.google-icon { background: url(../images/social-icons.png) 0 -35px no-repeat; }
.google-icon:hover, .appic-team .google-icon:hover { background: url(../img/social-icons.png) 0 -210px no-repeat; }
.linkedin-icon { background: url(../img/social-icons.png) 0 -70px no-repeat; }
.linkedin-icon:hover, .appic-team .linkedin-icon:hover { background: url(../img/social-icons.png) 0 -245px no-repeat; }
.twitter-icon { background: url(../img/social-icons.png) 0 -105px no-repeat; }
.twitter-icon:hover, .appic-team .twitter-icon:hover { background: url(../img/social-icons.png) 0 -280px no-repeat; }
.facebook-icon { background: url(../img/social-icons.png) 0 -140px no-repeat; }
.facebook-icon:hover, .appic-team .facebook-icon:hover { background: url(../img/social-icons.png) 0 -315px no-repeat; }
.vimeo-icon { background: url(../img/social-icons.png) 0 -525px no-repeat; }
.vimeo-icon:hover { background: url(../img/social-icons.png) 0 -630px no-repeat; }
.youtube-icon { background: url(../img/social-icons.png) 0 -560px no-repeat; }
.youtube-icon:hover { background: url(../img/social-icons.png) 0 -665px no-repeat; }
.skype-icon { background: url(../img/social-icons.png) 0 -595px no-repeat; }
.skype-icon:hover { background: url(../img/social-icons.png) 0 -700px no-repeat; }
/*Begin tooltip*/
.tooltip-wrap { margin-bottom: 30px; padding: 20px 0 0; }
.tooltip-wrap > a { margin: 0 20px 20px 0; }
.tooltip.top.in, .tooltip.bottom.in { opacity: 1; }
.tooltip.top, .tooltip.bottom { background: none; border: none; }
.dark-blue-tooltip + .tooltip.top > .tooltip-inner, .dark-blue-tooltip + .tooltip.bottom > .tooltip-inner { max-width: 200px; padding: 8px; color: #fff; font-size: 11px; text-align: center; text-decoration: none; background-color: #212c43; border-radius: 0; }
.dark-blue-tooltip + .tooltip.top > .tooltip-arrow, .dark-blue-tooltip + .tooltip.bottom > .tooltip-arrow { bottom: 2px; left: 50%; margin-left: -5px; border-top-color: #212c43; border-width: 3px 5px 0; }
.blue-tooltip + .tooltip.top > .tooltip-inner, .blue-tooltip + .tooltip.bottom > .tooltip-inner { max-width: 200px; padding: 8px; color: #fff; font-size: 11px; text-align: center; text-decoration: none; background-color: #5899cf; border-radius: 0; }
.blue-tooltip + .tooltip.top > .tooltip-inner, .blue-tooltip + .tooltip.bottom > .tooltip-inner { max-width: 200px; padding: 8px; color: #fff; font-size: 11px; text-align: center; text-decoration: none; background-color: #5899cf; border-radius: 0; }
.blue-tooltip + .tooltip.top > .tooltip-arrow { bottom: 2px; left: 50%; margin-left: -5px; border-top-color: #5899cf; border-width: 3px 5px 0; }
.blue-tooltip + .tooltip.bottom > .tooltip-arrow { top: 2px; left: 50%; margin-left: -5px; border-bottom-color: #5899cf; border-width: 0 5px 3px; }
.grey-tooltip + .tooltip.top > .tooltip-inner, .grey-tooltip + .tooltip.bottom > .tooltip-inner { max-width: 200px; padding: 8px; color: #212c43; font-size: 11px; text-align: center; text-decoration: none; background-color: #e5e5da; border-radius: 0; }
.grey-tooltip + .tooltip.top > .tooltip-arrow, .grey-tooltip + .tooltip.bottom > .tooltip-arrow { bottom: 2px; left: 50%; margin-left: -5px; border-top-color: #e5e5da; border-width: 3px 5px 0; }
.pink-tooltip + .tooltip.top > .tooltip-inner, .pink-tooltip + .tooltip.bottom > .tooltip-inner { max-width: 200px; padding: 8px; color: #fff; font-size: 11px; text-align: center; text-decoration: none; background-color: #f29090; border-radius: 0; }
.pink-tooltip + .tooltip.top > .tooltip-arrow, .pink-tooltip + .tooltip.bottom > .tooltip-arrow { bottom: 2px; left: 50%; margin-left: -5px; border-top-color: #f29090; border-width: 3px 5px 0; }
/*End tooltip*/
