extends layout

block append vars
  - discription = 'hello'
  - keyword = 'hello,sam,developer'

block big_header
  div.blog_wrap.clearfix
    div.pattern
      div.gray
        div.container
            div.row
              div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1.page-title FINAL - NEWS

block full
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
    h1.heading Emini Trading School TPOChart Training
    p Emini Trading School reviews and teaches the Final TPOChart Indicator (AKA Market Profile Indicator) for NinjaTrader Charts every other Wednesday at 2:00 PM EST. Our market profile class includes a free 7 day trial with the most advanced Market Profile Indicator available for NinjaTrader. The class is free for all TPO Indicator users and with answering all tech support questions and covering the general use of this Market Profile Indicator. Please use our 1 1/2 hour setup and general use TPO video at the following link - <a href="#"> TPOChart Training & Support </a>
    img(src="img/emini.jpg", alt="Emini Trading School")




