extends layout

block append vars
  - discription = 'hello'
  - keyword = 'hello,sam,developer'

block big_header
  div.blog_wrap.clearfix
    div.pattern
      div.gray
        div.container
            div.row
              div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1.page-title FINAL - SERVICES

block full
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
    h1.heading NinjaTrader Programming
    img(src="img/ninjatrader_logo.png", alt="NinjaTrader Programming")
    p In the last five years, Final has invested in fully understanding NinjaTrader platform capabilities, and developed a technology that maximizes the NinjaTrader technology. We provide the same capabilities as every other platform, plus much much more.
    p One of the outstanding NinjaTraders platform features is that because the platform is open, professional programmers can easily customize the application using standard C# code and libraries. This  provides an un-matched level of customization when developing studies for the platform.
    p Over the years we programmed hundreds of indicators and automatic strategies for individual traders and hedge funds. In addition, because our programmers are also accomplished traders and communicate daily with other traders, Final has an inside understanding of how the market works, and how different users approach the market.
    p Sample programming work for NinjaTrader include:
    ul
     li Automatic Strategies.
     li Custom Indicators.
     li Market Analyzer Studies.
     li Customized Order Entry and Management Forms
     li Special NinjaTrader Data and Broker Adapters.
     li Interface with External Services, for example, Databases, Web Servers.
     li Interface with External Programs, for example, MATLAB, Excel, DDE, DLL, and many more.
    p <a href="">Contact us</a> with your ideas and let us help you improve your trading.
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
   h1.heading Additional Trading Platform Solutions
   p Just as the markets fluctuate, so do our customer's demands. While most of Final's technologies are based on NinjaTrader, we also support the following platforms:
   ul
    li <a href="#">TradeStation</a>
    li <a href="#">RightEdge</a>
    li <a href="#">eSignal</a>
    li <a href="#">OEC</a>
    li <a href="#">MetaTrader</a> (Both 4 and 5)
    li <a href="#">cAlgo</a>
   table
   tr
    td
     img(src="img/esignal.png", alt="")
    td
     img(src="img/tradestation.png", alt="")
    td
     img(src="img/rightedge.png", alt="")
    td
     img(src="img/oec.png", alt="")
    td
     img(src="img/metatrader.png", alt="")
    td
     img(src="img/calgo_round.png", alt="")
  div.col-lg-12.col-md-12.col-sm-12.col-xs-12
   h1.heading Solutions
   p Final's has vast experience in creating programming solution for a broad spectrum of technologies. We offer wide variety of programming services, sample project including:
   ul
    li Standalone trading platform and program development
    li SilverLight
    li Mobile Applications
    li Web Servers and distributed applications
   p Most of Final's financial solutions are written in  C# but we can provide software packages also in Java and C++.
